<div class="container w-75 mt-3">
<div class="card card mt-3">
    <h5 class="card-header">Subjects</h5>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
      <a [routerLink]="'/subject'" class="btn btn-primary">See all subjects</a>
    </div>
  </div>
  <div class="card mt-3">
    <h5 class="card-header">Flashcards</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <div class="card card mt-3">
    <h5 class="card-header">Tests</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
</div>