

<div class="container w-75 mt-3">
    <h2>Test</h2>
    <h4> Already not implemented</h4>
    <!--<div class="card m-auto justify-content-center">
        <div class="card-body">
            <h5 class="card-title">Question: </h5>
        </div>
        <div class="my-1" *ngFor="let e of [].constructor(1,2,3); let i in index;">
            <div class="card mx-1 d-flex">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" id="btncheck{{e}}" autocomplete="off">
                    <label class="btn btn-outline-primary text-start" for="btncheck{{e}}">Answer {{e}}</label>
                </div>
            </div>
        </div>
        
    </div>-->
    <div class="d-flex justify-content-between my-2">
        <button class="btn btn-primary" (click)="previous()">Previous</button>
        <button class="btn btn-primary" (click)="next()">Next</button>
    </div>
</div>